@charset "UTF-8";
header {
  background-color: #ffecff;
  color: white;
  text-align: center;
  padding: 5em 0; }
  header h1 {
    font-family: "Euphoria Script", cursive;
    font-size: 3em; }
  header p {
    font-size: 1.2em; }

.bg-transparent {
  background: linear-gradient(to bottom, #000000c5, #00000002); }

.textoheader {
  color: #ffecff !important;
  text-decoration: none !important;
  font-family: "Euphoria Script", cursive;
  font-size: 25px !important; }

.navbar-nav .nav-item .nav-link:hover {
  color: #8d29fffd !important;
  /* Cambia el color al que desees */ }

footer {
  background-color: #ffecff;
  color: white;
  text-align: center;
  padding: 2em; }
  footer h2 {
    font-family: "Euphoria Script", cursive;
    font-size: 2em; }
  footer .form-group {
    margin-bottom: 1em; }
    footer .form-group label {
      font-size: 1.2em; }
    footer .form-group input, footer .form-group textarea {
      font-size: 1em; }
  footer button {
    font-size: 1.2em;
    background-color: white;
    color: #ffecff; }

.col-md-4 h4 {
  color: #FFFFFF;
  /* Cambia el color al que desees */ }

.col-md-4 ul li a {
  color: #FFFFFF;
  /* Cambia el color al que desees */
  transition: color 0.3s;
  /* Agrega una transición suave de color al pasar el cursor */ }
  .col-md-4 ul li a:hover {
    color: #8d29fffd !important;
    /* Cambia el color al que desees al pasar el cursor */ }

.footer2023 {
  font-family: "Tangerine", cursive !important;
  font-size: 33px !important; }

@media (max-width: 768px) {
  .imagen-testimonios {
    margin-top: 3% !important; }
  .restauramos {
    margin-bottom: 6% !important; }
  .amarrr {
    margin-bottom: 5% !important; }
  .textoheader {
    margin-left: 3% !important; }
  .navbar-toggler {
    margin-right: 4% !important; }
  .mediacel {
    margin-bottom: 5% !important; }
  .testimonial-img {
    width: 200px !important;
    height: 150px !important;
    object-fit: cover !important;
    margin-bottom: 30px !important; }
  .bg-transparent.testimonios.celular {
    margin-bottom: 25px !important; }
  .img-fluid.amarrr {
    width: 250px !important;
    height: 150px !important; } }

@media (min-width: 769px) and (max-width: 1024px) {
  .restauramos {
    margin-bottom: 3% !important; }
  .textoheader {
    margin-left: 3% !important; }
  .navbar-toggler {
    margin-right: 4% !important; }
  .bg-transparent.testimoniostablet {
    margin-bottom: 35px !important; }
  .testimonial-img {
    width: 200px !important;
    height: 150px !important;
    object-fit: cover !important;
    margin-bottom: 30px !important; }
  .img-fluid.amarrr {
    margin-bottom: 25px !important;
    margin-top: 10px !important;
    width: 430px !important;
    height: 230px !important; } }

@media (min-width: 1025px) {
  .restauramos {
    margin-bottom: 3% !important; }
  .textoheader {
    margin-left: 1% !important; }
  .testimonial-img {
    width: 200px !important;
    height: 150px !important;
    object-fit: cover !important;
    margin-bottom: 30px !important; }
  .card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: -5px !important; }
    .card-text.testimonios {
      color: rgba(226, 226, 226, 0.699); } }

main {
  font-family: "Euphoria Script", cursive;
  color: #ffecff;
  padding: 2em; }
  main h2 {
    font-size: 2em; }
  main p,
  main a {
    font-size: 1.2em; }
  main img {
    max-width: 100%; }
  main .card {
    background-color: #f8f9fa;
    color: #ffecff; }
    main .card h5 {
      font-size: 1.5em; }
    main .card p {
      font-size: 1em; }

.theme-dark {
  color: #fff;
  background-image: url("../img/global/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative; }
  .theme-dark a {
    color: #fff;
    text-decoration: underline; }
  .theme-dark h1,
  .theme-dark h2,
  .theme-dark h3,
  .theme-dark h4,
  .theme-dark h5,
  .theme-dark h6,
  .theme-dark p,
  .theme-dark a {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
  .theme-dark img {
    filter: brightness(80%); }
  .theme-dark::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.76); }
  .theme-dark > * {
    position: relative; }

.amarres {
  border-color: #ffffff !important; }

.amarrr {
  border-radius: 50px !important; }

.colorheader {
  color: #ffffff !important;
  text-decoration: none !important; }

.fondolindo {
  background-color: #ffffff2d; }

.navbar-toggler {
  color: #ffff !important; }

.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-top: -120px !important;
  padding-bottom: 30px;
  font-size: 35px; }

.rating span.star {
  color: #FFD700;
  display: inline-block;
  position: relative;
  margin-left: 19px; }
  .rating span.star:before {
    content: '\2605';
    position: absolute; }

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000; }
  .card-text.testimonios {
    color: rgba(226, 226, 226, 0.699); }

.card-title {
  color: #000000 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px; }
  .card-title.testimonios {
    color: rgba(226, 226, 226, 0.897) !important; }

.testimonial-img {
  border-radius: 25px !important;
  border: 3px solid #3602257e; }

.bg-transparent.testimonios {
  background: linear-gradient(to bottom, #3d00290c, #3d00297e) !important;
  border: 3px solid #3d002954;
  border-radius: 25px !important; }

.bg-transparent.fondoamarre {
  background: linear-gradient(to bottom, #3d00290c, #3d00297e) !important;
  border: 3px solid #3d002954;
  border-radius: 25px !important; }

.bg-transparent.confiar {
  background: linear-gradient(to bottom, #3d00290c, #3d00293f) !important;
  border: 3px solid #3d002954;
  border-radius: 25px !important; }

.bg-transparent.confiarr {
  background: linear-gradient(to bottom, #0000000c, #0000002c) !important;
  border-radius: 25px !important;
  margin-bottom: 80px !important; }

.bg-transparent.preguntass {
  background: linear-gradient(to bottom, #3d00293f, #3d00293f) !important;
  border-radius: 25px !important;
  margin-bottom: 10px !important;
  color: #ffff !important; }

.bg-transparent.preguntasss {
  background: linear-gradient(to bottom, #3d00293f, #3d00293f) !important;
  border-radius: 25px !important;
  color: #ffff !important; }

.bg-transparent.footerr {
  background: linear-gradient(to bottom, #3d00293f, #3d00293f) !important; }

.confiar {
  color: #ffffffcc !important;
  font-family: "Roboto", sans-serif;
  font-size: 18px !important; }
  .confiar.sep {
    margin-bottom: 37px !important; }
  .confiar.sepa {
    margin-bottom: 57px !important; }

.confiar2 {
  color: #ffedf9e8 !important;
  margin-bottom: 25px !important;
  font-size: 43px !important;
  font-family: "Tangerine", cursive; }

.confiar3 {
  font-family: "Euphoria Script", cursive;
  font-size: 56px !important;
  color: #ffff !important;
  margin-top: 35px !important; }

.testiclientes {
  font-family: "Euphoria Script", cursive;
  font-size: 56px !important;
  color: #ffff !important; }

.botonwpprin {
  background-color: #198754 !important;
  text-decoration: none !important;
  margin-top: 30px !important;
  margin-bottom: -30px !important; }
  .botonwpprin:hover {
    background-color: #17794b !important;
    color: #d8d8d8 !important; }

.restauramos {
  color: #ffedf9e8 !important;
  margin-top: 15px !important;
  font-size: 53px !important;
  font-family: "Tangerine", cursive; }

.accordion-item {
  background-color: #000000 !important; }

.amarrecenter {
  font-family: "Roboto", sans-serif;
  font-size: 17px !important; }

.amarrecenterr {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px !important; }

.card-text.preview {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; }

.card-text.expanded {
  -webkit-line-clamp: initial; }

.testimonio-expanded {
  max-height: none;
  overflow: visible; }

.testimonio-text-preview {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.testimonio-expanded .testimonio-text-preview {
  display: none; }
