$primary-color: #ffecff;  // Un tono de violeta
$font-family: 'Euphoria Script', cursive;
$dark-background: #121212;
$white-text: #fff;
$white-glow: rgba(255, 255, 255, 0.5);
$body-background: url("../img/global/fondo.jpg");
$transparencia: #00000067;
$star-color: #FFD700;
$font-family-desc: 'Roboto', sans-serif;
$font-family-titl: 'Tangerine', cursive;
$font-family-titl2: 'Josefin Sans', sans-serif;
